<body>
    <div id="principal" class="row">
        <div id="contenido" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2>Acerca de mí</h2>
            <p> 
            <p>Estudio <strong>física y programación</strong> en la universidad nacional de Tucumán.<br></p>
            <p>Enseño <strong>Cálculo Integral y Álgebra</strong> en la misma institución.</p>
            <p>
                Gracias a mis estudios en <strong>física</strong> y otras ciencias exactas pude desarrollar mis habilidades de <strong>razonamiento 
                lógico</strong> y la capacidad para la simplificación y <strong>resolución de problemas</strong>.
            </p>
            <p>
                El trabajo de <strong>Laboratorio de Física</strong> me permitió adquirir habilidades prácticas para la
                 <strong>resolución de problemas reales</strong> y el <strong>análisis de datos e interpretación de resultados</strong>.
            </p>
            <p>
                Mi experiencia como <strong>docente</strong> me enseñó a <strong>hablar frente al público</strong>, a <strong>comunicarme
                de forma clara y precisa</strong> y a<strong> trabajar en grupo</strong>.
            </p>
            <p>
                Mi gusto por la ciencia me permite hacer de la búsqueda de <strong>nuevos conocimientos y desafíos</strong> un placentero hobbie.
            </p>
            
        </div>
    </div>
    
    </body>